<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.7" targetFramework="net46" />
  <package id="Facebook" version="7.0.6" targetFramework="net46" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net46" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net46" />
  <package id="OpenPop.NET" version="2.0.6.1120" targetFramework="net46" />
  <package id="TweetSharp" version="2.3.1" targetFramework="net46" />
</packages>